<style>
  /* Style the input fields */
  input[type=text], input[type=password] {
    width :100%; 
    padding :12px; 
    margin-bottom :20px; 
    border-radius :4px; 
  }

  /* Add padding to containers */
  .bottom-links {
    display:flex ; 
    justify-content :space-between ;  
  }

  .bottom-links a{
    text-decoration:none ;
  }

  /* Add a black background color to the box */
  .login-container {
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  /* Add a red background color to the buttons */
  button:hover {
    opacity:1;
  }
</style>